{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp page</title>
    <!-- CSS SignUp Link  -->
    <link rel="stylesheet" href="{% static 'CSS Folder/SignUp.css' %}">
</head>
<body>
    <form method="post" action="{% url 'signup' %}">  
        {% csrf_token %}
        <label for="firstname"> <b>First Name</b> </label>
        <input type="text" placeholder="Enter First name" required>
        <label for="lastname"> <b>Last Name</b> </label>
        <input type="text" placeholder="Enter Last name" required>
        <label for="email"><strong>Email</strong> </label>
        <input type="email" placeholder="email@example.com" required>
        <label for="phone"><b>Phone</b> </label>
        <input type="phone" placeholder="Phone number " required>
        <label for="date"><b>Date</b> </label>
        <input type="date" required>
        <label for="city"><b>City</b> </label>
        <input type="text" placeholder="City" required>
        <label for="password"><b>password</b> </label>
        <input type="password" placeholder="Strong password" required>
       <button type="submit"><a href="{% url 'homepage' %}">Submit & LogIn</a></button>
    </form>
</body>
</html>