{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignIn Page</title>
    <!-- CSS SignIn Link -->
    <link rel="stylesheet" href="{% static 'CSS Folder/SignIn.css' %}">
</head>
<body>
     <form method="post" action="{% url 'signin' %}">
        {% csrf_token %} 
        <label for="phonenumber"><strong>Phone Number</strong> </label>
        <input type="phone" name="phone" placeholder=" Enter Phone number " required>
        <label for="password"><strong>Password</strong> </label>
        <input type="Password" name="password" placeholder=" Enter Password " required>
       <button type="submit"><a href="{% url 'homepage' %}">Log in</a></button> 
    </form>
</body>
</html>