body{
    background-image: url(image/backkkkk2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
form{
    display:flex;
    flex-direction: column;
    width: 300px;
    margin:auto;
    margin-top: 200px;
    margin-bottom: 200px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    box-shadow: 10px 10px 10px black;
    
}
label{
    margin-top: 10px;
}
input{
    margin-top: 10px;
    padding: 5px;
}
button{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: black;
    box-shadow: 10px 10px 10px black;

}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 10px;
    padding: 5px;
    

}
button:hover{
    background-color: cornflowerblue;
}
