body{
    background-image: url(../image/backkkkk2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
form{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    
    
}
label{
    margin-top: 10px;
}
input{
    margin-top: 10px;
    padding: 5px;
}
button{
    margin-top: 10px;
    padding: 5px;
    background-color: black;
    color: aliceblue;
    border: none;
    border-radius: 10px;
    width: 70px;
    margin-left: 110px;
}
button:hover{
    background-color: rgb(57, 56, 56);
}
button>a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
}